{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django App is Awesome</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <h1>Welcome to My Django App!</h1>
    <p>Django makes it easier to built better web apps more quickly and with less code!</p>
    <script src="{% static 'js/scripts.js' %}"></script>
    <img src="{% static 'images/django.svg' %}" alt="Django Logo">
</body>
</html>